<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="AMSEntities" connectionString="metadata=res://*/AMS_FB.csdl|res://*/AMS_FB.ssdl|res://*/AMS_FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1;Initial Catalog=AMS_FB;User ID=sa;Password=sa;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup/></configuration>
